Repository govuk-one-login/onboarding-self-service-experience, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alphagov/di-sse-approvers, @govuk-one-login/sse-approvers, @alphagov/di-sse-sres, @alphagov/di-sse-frontend, @govuk-one-login/sse-sres, @govuk-one-login/sse-frontend, @alphagov/di-sse-content, @govuk-one-login/sse-content

.github/CODEOWNERS:

# Global
*   @alphagov/di-sse-approvers
*   @govuk-one-login/sse-approvers

# Packages
package*.json           @alphagov/di-sse-sres              @alphagov/di-sse-frontend               @alphagov/di-sse-approvers
package*.json           @govuk-one-login/sse-sres          @govuk-one-login/sse-frontend           @govuk-one-login/sse-approvers

# Infrastructure
/.github/               @alphagov/di-sse-sres              @alphagov/di-sse-approvers
/backend/               @alphagov/di-sse-sres              @alphagov/di-sse-approvers
/infrastructure/        @alphagov/di-sse-sres              @alphagov/di-sse-approvers
/.github/               @govuk-one-login/sse-sres          @govuk-one-login/sse-approvers
/backend/               @govuk-one-login/sse-sres          @govuk-one-login/sse-approvers
/infrastructure/        @govuk-one-login/sse-sres          @govuk-one-login/sse-approvers

# Frontend
/express/src/           @alphagov/di-sse-frontend          @alphagov/di-sse-approvers
/express/tests/         @alphagov/di-sse-frontend          @alphagov/di-sse-approvers
/express/assets/        @alphagov/di-sse-frontend          @alphagov/di-sse-approvers
/express/stubs/         @alphagov/di-sse-frontend          @alphagov/di-sse-approvers
/express/src/           @govuk-one-login/sse-frontend      @govuk-one-login/sse-approvers
/express/tests/         @govuk-one-login/sse-frontend      @govuk-one-login/sse-approvers
/express/assets/        @govuk-one-login/sse-frontend      @govuk-one-login/sse-approvers
/express/stubs/         @govuk-one-login/sse-frontend      @govuk-one-login/sse-approvers

# Acceptance tests
/acceptance-tests/     	@alphagov/di-sse-frontend          @alphagov/di-sse-approvers
/acceptance-tests/     	@govuk-one-login/sse-frontend      @govuk-one-login/sse-approvers

# Content
/express/src/views/		@alphagov/di-sse-content	       @alphagov/di-sse-approvers
/express/src/views/		@govuk-one-login/sse-content	   @govuk-one-login/sse-approvers

SSE-3044 Removing WAF configuration
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3034: Adding Dynatrace permissions to Github actions role
  infrastructure/ci/development/deployment-config.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3061 - Remove styleSrc:'unsafe-inline' from helmet configuration and update the application accordinbly - not to use inline styles
  express/assets/css/app.scss
  express/assets/javascripts/cookies.js
  express/assets/javascripts/toggle-public-key-view.js
  express/src/config/helmet.ts
  express/src/views/404.njk
  express/src/views/clients/client-details.njk
  express/src/views/components/cookie-banner.njk
Owners: @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers, @govuk-one-login/sse-content

SSE-3044 Removing WAF configuration
  README.md
  backend/api/api.template.yml
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-sres

SSE-3044 Removing WAF configuration
  backend/api/api.template.yml
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3044 Removing WAF configuration
  backend/api/api.template.yml
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3044 Removing custom WAF configuration
  backend/api/api.template.yml
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3034: Removed production values for GHA role.
  infrastructure/ci/development/deployment-config.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3044 Removing WAF configuration
  README.md
  backend/api/api.template.yml
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-sres

SSE-3061 - Remove styleSrc:'unsafe-inline' from helmet configuration and update the application accordinbly - not to use inline styles
  express/assets/css/app.scss
  express/assets/javascripts/cookies.js
  express/assets/javascripts/toggle-public-key-view.js
  express/src/config/helmet.ts
  express/src/views/404.njk
  express/src/views/clients/client-details.njk
  express/src/views/components/cookie-banner.njk
Owners: @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers, @govuk-one-login/sse-content

Update Team Manual location
  infrastructure/ci/secure-pipelines/deployment-support.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3038: Added dynatrace configuration to lambdas.
  backend/api/api.template.yml
  backend/cognito/cognito.template.yml
  infrastructure/ci/secure-pipelines/deployment-pipelines.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-2872:Logging visibility to be updated when service name not registered with RegisterAuthClientFunction
  backend/api/api.template.yml
  backend/api/src/dynamodb-client.ts
  backend/api/src/handlers/dynamodb/dynamo-db-service.ts
  express/src/controllers/register.ts
  express/src/services/lambda-facade/LambdaFacade.ts
  express/src/services/lambda-facade/LambdaFacadeInterface.ts
  express/src/services/lambda-facade/StubLambdaFacade.ts
  express/src/services/self-service-services-service.ts
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Setting up PACT Consumer test configuration along with mocked tests for integration with the test pipeline.
  README.md
  acceptance-tests/features/register.feature
  acceptance-tests/features/sign-in.feature
  acceptance-tests/support/steps/input-steps.ts
  backend/api/api.template.yml
  backend/api/package.json
  backend/api/tests/contract-tests/README.md
  backend/api/tests/contract-tests/jest.config.ts
  backend/api/tests/contract-tests/package.json
  backend/api/tests/contract-tests/src/pacts/sseadminapiclient-clientregistryprovider.json
  backend/api/tests/contract-tests/src/provider/publish.ts
  backend/api/tests/contract-tests/src/provider/verifier.ts
  backend/api/tests/contract-tests/tests/testClientRegistryContract.spec.ts
  backend/api/tests/contract-tests/tsconfig.json
  express/assets/css/app.scss
  express/assets/javascripts/cookies.js
  express/assets/javascripts/toggle-public-key-view.js
  express/src/config/helmet.ts
  express/src/controllers/register.ts
  express/src/services/cognito/StubCognitoClient.ts
  express/src/views/404.njk
  express/src/views/clients/client-details.njk
  express/src/views/components/cookie-banner.njk
  infrastructure/ci/secure-pipelines/deployment-support.template.yml
  infrastructure/frontend/frontend.template.yml
  package-lock.json
  package.json
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend, @govuk-one-login/sse-sres, @govuk-one-login/sse-content

updated with signature
  acceptance-tests/features/sign-in.feature
Owners: @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers

SSE-2830: Updated pinning for ecr deployment.
  .github/actions/build-backend-component/action.yml
  .github/workflows/build-frontend-image.yml
  .github/workflows/check-code-quality.yml
  .github/workflows/clean-up-deployments.yml
  .github/workflows/delete-deployment.yml
  .github/workflows/delete-sam-stack.yml
  .github/workflows/deploy-component.yml
  .github/workflows/upload-api-package.yml
  .github/workflows/upload-cognito-package.yml
  .github/workflows/upload-dynamodb-package.yml
  .github/workflows/upload-frontend-package.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3088 - Remove logging form google sheet service
  express/src/lib/sheets/realSheets/realSheetsService.ts
Owners: @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers

Added tests related to register journey
  acceptance-tests/features/register.feature
  express/resources/allowed-test-domains.txt
Owners: @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers

Added & updated tests according to review
  acceptance-tests/features/register.feature
  acceptance-tests/support/steps/shared-steps.ts
  express/resources/allowed-test-domains.txt
Owners: @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers

SSE-3044 Changing splunk for int and prod
  backend/cognito/cognito.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

Configure CSLS to send CloudWatch logs to Splunk - release to prod
  backend/cognito/cognito.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

added tests related to your account
  acceptance-tests/features/account.feature
Owners: @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers

SSE-3110: Explicit specification of log groups with Data Protection Policy
  .github/workflows/deploy-branch.yml
  backend/api/api.template.yml
  infrastructure/ci/development/deployment-config.template.yml
  infrastructure/dev/deploy.sh
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3038 enabled Dynatrace
  backend/api/api.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3110: Explicit specification of log groups with Data Protection Policy
  .github/workflows/deploy-branch.yml
  backend/api/api.template.yml
  infrastructure/ci/development/deployment-config.template.yml
  infrastructure/dev/deploy.sh
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3110: Explicit specification of log groups with Data Protection Policy
  .github/workflows/deploy-branch.yml
  backend/api/api.template.yml
  backend/cognito/cognito.template.yml
  infrastructure/ci/development/deployment-config.template.yml
  infrastructure/dev/deploy.sh
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3038 dynatrace cognito
  backend/cognito/cognito.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3110: Updated log permissions for cognito build
  infrastructure/ci/development/deployment-config.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

Configure CSLS to send CloudWatch logs to Splunk - release to prod
  README.md
Owners: @govuk-one-login/sse-approvers

added tests relateed client details and squashing all commits
  acceptance-tests/features/clients/change-post-logout-redirect-uris.feature
  acceptance-tests/features/clients/change-public-key.feature
  acceptance-tests/features/clients/change-user-attributes.feature
  acceptance-tests/features/clients/client-details.feature
  acceptance-tests/features/services/joining-public-beta.feature
  acceptance-tests/support/steps/input-steps.ts
Owners: @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers

SSE-3036 Triggering main build
  README.md
Owners: @govuk-one-login/sse-approvers

SSE-3036 Build-up - Added .github files
  .github/workflows/build-frontend-image.yml
  .github/workflows/deploy-branch.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3036 Build-up - Updated Dockerfile
  infrastructure/frontend/Dockerfile
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3036 Build-up - Updated frontend template
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3036 Build-up - Added policy to task role
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3150: Removed LogGroupPrefix as input parameter
  .github/workflows/deploy-branch.yml
  backend/api/api.template.yml
  backend/cognito/cognito.template.yml
  infrastructure/dev/deploy.sh
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

Created new GIT Hub Action to check AWS Template Files for missing PII Filters
  .github/actions/check-pii-audit/action.yml
  .github/workflows/check-code-quality.yml
  infrastructure/config/pii_scan_ignore.txt
  infrastructure/dev/pii_scan.sh
  package-lock.json
  package.json
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3110: Add log resource policy to all accounts SSE-3110: Update cognito.template waf log group Added language extensions SSE-3038: add dyntrace params
  infrastructure/aws-accounts.json
  infrastructure/ci/development/deployment-config.template.yml
  infrastructure/ci/secure-pipelines/deployment-pipelines.template.yml
  infrastructure/config/logging.template.yml
  infrastructure/config/network.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3038 enabled lambd adynatrace
  backend/api/api.template.yml
  backend/cognito/cognito.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3110: Explicit setting of environment for all local builds.
  .github/workflows/deploy-component.yml
  infrastructure/dev/deploy.sh
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers
