Repository govuk-one-login/onboarding-self-service-experience, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alphagov/di-sse-approvers, @govuk-one-login/sse-approvers, @alphagov/di-sse-sres, @alphagov/di-sse-frontend, @govuk-one-login/sse-sres, @govuk-one-login/sse-frontend, @alphagov/di-sse-content, @govuk-one-login/sse-content

.github/CODEOWNERS:

# Global
*   @alphagov/di-sse-approvers
*   @govuk-one-login/sse-approvers

# Packages
package*.json           @alphagov/di-sse-sres              @alphagov/di-sse-frontend               @alphagov/di-sse-approvers
package*.json           @govuk-one-login/sse-sres          @govuk-one-login/sse-frontend           @govuk-one-login/sse-approvers

# Infrastructure
/.github/               @alphagov/di-sse-sres              @alphagov/di-sse-approvers
/backend/               @alphagov/di-sse-sres              @alphagov/di-sse-approvers
/infrastructure/        @alphagov/di-sse-sres              @alphagov/di-sse-approvers
/.github/               @govuk-one-login/sse-sres          @govuk-one-login/sse-approvers
/backend/               @govuk-one-login/sse-sres          @govuk-one-login/sse-approvers
/infrastructure/        @govuk-one-login/sse-sres          @govuk-one-login/sse-approvers

# Frontend
/express/src/           @alphagov/di-sse-frontend          @alphagov/di-sse-approvers
/express/tests/         @alphagov/di-sse-frontend          @alphagov/di-sse-approvers
/express/assets/        @alphagov/di-sse-frontend          @alphagov/di-sse-approvers
/express/stubs/         @alphagov/di-sse-frontend          @alphagov/di-sse-approvers
/express/src/           @govuk-one-login/sse-frontend      @govuk-one-login/sse-approvers
/express/tests/         @govuk-one-login/sse-frontend      @govuk-one-login/sse-approvers
/express/assets/        @govuk-one-login/sse-frontend      @govuk-one-login/sse-approvers
/express/stubs/         @govuk-one-login/sse-frontend      @govuk-one-login/sse-approvers

# Acceptance tests
/acceptance-tests/     	@alphagov/di-sse-frontend          @alphagov/di-sse-approvers
/acceptance-tests/     	@govuk-one-login/sse-frontend      @govuk-one-login/sse-approvers

# Content
/express/src/views/		@alphagov/di-sse-content	       @alphagov/di-sse-approvers
/express/src/views/		@govuk-one-login/sse-content	   @govuk-one-login/sse-approvers

SSE-3036 Commenting code depending on dynatrace login
  .github/workflows/build-frontend-image.yml
  infrastructure/frontend/Dockerfile
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-2999 Demo CSLS logs in dev
  backend/api/api.template.yml
  backend/cognito/cognito.template.yml
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3044 Configure CSLS to send CloudWatch logs to Splunk - release to prod
  backend/api/api.template.yml
  backend/cognito/cognito.template.yml
  infrastructure/ci/development/deployment-config.template.yml
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-2898 Fixing code coverage report
  .github/workflows/run-acceptance-tests.yml
  backend/api/tests/dynamodb-client.test.ts
  backend/api/tsconfig.json
  backend/cognito/tests/handlers/security-code-text-message-sender.test.ts
  backend/cognito/tsconfig.json
  express/jest.config.ts
  express/tests/lib/mobile-number.test.ts
  express/tests/lib/public-key.test.ts
  express/tests/lib/validators/allowed-email-domains.test.ts
  express/tests/lib/validators/common-passwords.test.ts
  express/tests/lib/validators/email-validator.test.ts
  express/tests/lib/validators/password-validator.test.ts
  express/tests/lib/validators/security-code-validator.test.ts
  express/tests/lib/validators/uris-validator.test.ts
  express/tests/middleware/authoriser.test.ts
  express/tests/middleware/convert-public-key.test.ts
  express/tests/middleware/sign-in-status.test.ts
  express/tests/middleware/validators/common-password-validator.test.ts
  express/tests/middleware/validators/email-code-validator.test.ts
  express/tests/middleware/validators/email-present-in-session.test.ts
  express/tests/middleware/validators/email-validator.test.ts
  express/tests/middleware/validators/mobile-code-validator.test.ts
  express/tests/middleware/validators/mobile-number-validator.test.ts
  express/tests/middleware/validators/password-validator.test.ts
  express/tests/middleware/validators/uris-validator.test.ts
  jest.config.base.ts
  tsconfig.json
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3044 Limiting changes to dev and build environments
  backend/api/api.template.yml
  backend/cognito/cognito.template.yml
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3021 - Refactor public beta form frontend, content updates
  acceptance-tests/features/services/joining-public-beta.feature
  express/src/controllers/clients.ts
  express/src/views/clients/public-beta-form-submitted.njk
  express/src/views/clients/public-beta.njk
  express/src/views/layouts/client.njk
  express/src/views/macros/form-inputs.njk
Owners: @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers, @govuk-one-login/sse-content

SSE-3044 Enabling subscription in dev and build
  backend/api/api.template.yml
  backend/cognito/cognito.template.yml
  infrastructure/ci/development/deployment-config.template.yml
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3023 Backend work for updated 'Public Beta' form
  acceptance-tests/features/services/joining-public-beta.feature
  acceptance-tests/support/steps/input-steps.ts
  acceptance-tests/support/steps/shared-steps.ts
  express/.env.example
  express/src/controllers/clients.ts
  express/src/lib/timestamp.ts
  express/src/views/clients/public-beta-form-submitted.njk
  express/src/views/macros/form-inputs.njk
  infrastructure/ci/configure-deployment-parameters.sh
  infrastructure/dev/deploy.sh
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers, @govuk-one-login/sse-content, @govuk-one-login/sse-sres

SSE-3044 Enabling subscription in dev and build
  backend/cognito/cognito.template.yml
  backend/dynamodb/dynamodb.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3019 Combine acceptance tests and jest tests in the coverage report
  .github/workflows/sonar-cloud.yaml
  express/package.json
  package-lock.json
  package.json
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3044 Updated github task dependency
  .github/workflows/deploy-branch-secure-pipelines.yml
  .github/workflows/deploy-branch.yml
  backend/dynamodb/dynamodb.template.yml
  infrastructure/ci/development/deployment-config.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3044 Bringing back role to cognito stack. M oving it did not help.
  .github/workflows/deploy-branch-secure-pipelines.yml
  .github/workflows/deploy-branch.yml
  backend/api/api.template.yml
  backend/cognito/cognito.template.yml
  backend/dynamodb/dynamodb.template.yml
  infrastructure/ci/development/deployment-config.template.yml
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

Remove public beta notifications functionality
  backend/api/api.template.yml
  backend/api/src/handlers/notifications/send-public-beta-notification.ts
  express/src/services/lambda-facade/LambdaFacade.ts
  express/src/services/lambda-facade/LambdaFacadeInterface.ts
  express/src/services/lambda-facade/StubLambdaFacade.ts
  express/src/services/self-service-services-service.ts
  infrastructure/ci/configure-deployment-parameters.sh
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3044 Deployment for Raghu
  README.md
Owners: @govuk-one-login/sse-approvers

SSE-3044 Updated github task dependency
  backend/cognito/cognito.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3044 Removed splunk config
  backend/cognito/cognito.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

added validation entries to get SSL cert
  infrastructure/config/domain.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3044 Added splunk config
  backend/api/api.template.yml
  backend/cognito/cognito.template.yml
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

Acceptance tests README update
  acceptance-tests/README.md
Owners: @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers

SSE-2806: Added script for checking bucket logging.
  infrastructure/check-bucket-config.py
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

added validation entries to get SSL cert
  infrastructure/config/domain.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

added comment with delegation details
  infrastructure/config/domain.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

Acceptance test fix
  acceptance-tests/features/clients/client-details.feature
Owners: @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers

copied over delegation details for docs.sign-in.service.gov.uk
  infrastructure/config/domain.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

copied over delegation details for docs.sign-in.service.gov.uk
  acceptance-tests/features/clients/client-details.feature
Owners: @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers

SSE-3044 Disabling splunk in dev
  backend/api/api.template.yml
  backend/cognito/cognito.template.yml
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

Revert "SSE-3044 Disabling splunk in dev"
  backend/api/api.template.yml
  backend/cognito/cognito.template.yml
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3044 Redeploying changes in build env
  backend/api/api.template.yml
  backend/cognito/cognito.template.yml
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3038: Added lambda layer integration.
  backend/api/api.template.yml
  backend/cognito/cognito.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

Prototype PACT tests for Client Registry.
  package-lock.json
  package.json
  pact-tests/README.md
  pact-tests/jest.config.ts
  pact-tests/package.json
  pact-tests/src/pacts/sseadminapiclient-clientregistryprovider.json
  pact-tests/src/provider/publish.ts
  pact-tests/src/provider/verifier.ts
  pact-tests/tests/testConsumerContract.spec.ts
  pact-tests/tsconfig.json
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers

SSE-3038: Updated Github Actions Role inline with SSE-3036.
  infrastructure/ci/development/deployment-config.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3038: Updated permissions for API and Cognito deployment pipelines.
  infrastructure/ci/secure-pipelines/deployment-pipelines.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3038: Added dynatrace secrets policy to api and cognito stacks
  backend/api/api.template.yml
  backend/cognito/cognito.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3038: Updated policy linting errors.
  backend/api/api.template.yml
  backend/cognito/cognito.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3038: Removed conditional policy includsion.
  backend/api/api.template.yml
  backend/cognito/cognito.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-2995:Stubs required for covering the scenarios related to Expired Security Digit
  acceptance-tests/features/register.feature
  acceptance-tests/features/sign-in.feature
  acceptance-tests/support/steps/input-steps.ts
  express/src/controllers/register.ts
  express/src/services/cognito/StubCognitoClient.ts
  package-lock.json
Owners: @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers, @govuk-one-login/sse-sres

Update Team Manual location
  infrastructure/ci/secure-pipelines/deployment-support.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3044 Removing WAF configuration
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3044 Removing WAF configuration
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3044 Removing WAF configuration
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers
