Repository govuk-one-login/onboarding-self-service-experience, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alphagov/di-sse-approvers, @govuk-one-login/sse-approvers, @alphagov/di-sse-sres, @alphagov/di-sse-frontend, @govuk-one-login/sse-sres, @govuk-one-login/sse-frontend, @alphagov/di-sse-content, @govuk-one-login/sse-content

SSE-3110: Explicit setting of environment for all local builds.
  .github/workflows/deploy-component.yml
  infrastructure/aws-accounts.json
  infrastructure/ci/development/deployment-config.template.yml
  infrastructure/ci/secure-pipelines/deployment-pipelines.template.yml
  infrastructure/config/logging.template.yml
  infrastructure/config/network.template.yml
  infrastructure/dev/deploy.sh
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

Updated.
  infrastructure/aws-accounts.json
  infrastructure/ci/development/deployment-config.template.yml
  infrastructure/ci/secure-pipelines/deployment-pipelines.template.yml
  infrastructure/config/network.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3150: Explicitly stating environment value for local environments.
  .github/workflows/deploy-component.yml
  infrastructure/dev/deploy.sh
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3131:Changed Network Temmplate to allow open traffic to ServiceNow EndPoint
  infrastructure/config/network.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3036 Moved step with login to dynatrace
  .github/workflows/upload-frontend-package.yml
  infrastructure/frontend/Dockerfile
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3036 Moved step with login to dynatrace
  .github/workflows/build-frontend-image.yml
  express/package.json
  infrastructure/frontend/Dockerfile-dev
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3142: Added CSLS subscriptions to log groups.
  backend/api/api.template.yml
  backend/cognito/cognito.template.yml
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3167: Updated log group prefixes.
  backend/api/api.template.yml
  backend/cognito/cognito.template.yml
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3167: Updated log group resource.
  infrastructure/config/apply-account-config.sh
  infrastructure/config/logging.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3117: Updated build error.
  .github/workflows/deploy-component.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3036 Forcing build
  README.md
Owners: @govuk-one-login/sse-approvers

SSE-3036 Integrate Fargate with Dynatrace
  .github/workflows/build-frontend-image.yml
  .github/workflows/deploy-branch-secure-pipelines.yml
  .github/workflows/publish.yml
  .github/workflows/release-prod.yml
  .github/workflows/upload-frontend-package.yml
  acceptance-tests/package.json
  express/package.json
  infrastructure/config/network.template.yml
  infrastructure/frontend/Dockerfile-dev
  infrastructure/frontend/frontend.template.yml
  package-lock.json
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-2994: Updated package-lock
  package-lock.json
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers

SSE-2994:Created PII Scanner Script which run as part of Acceptance Tests and also available as Command Line Option
  .github/actions/check-pii-audit/action.yml
  .github/workflows/build-frontend-image.yml
  .github/workflows/check-code-quality.yml
  .github/workflows/deploy-branch-secure-pipelines.yml
  .github/workflows/publish.yml
  .github/workflows/release-prod.yml
  .github/workflows/upload-frontend-package.yml
  acceptance-tests/package.json
  express/package.json
  infrastructure/config/network.template.yml
  infrastructure/config/pii_scan_ignore.txt
  infrastructure/dev/pii_scan.sh
  infrastructure/frontend/Dockerfile-dev
  infrastructure/frontend/frontend.template.yml
  package-lock.json
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Added accessible tests for all admin tool pages
  acceptance-tests/features/account.feature
  acceptance-tests/features/clients/change-post-logout-redirect-uris.feature
  acceptance-tests/features/clients/change-public-key.feature
  acceptance-tests/features/clients/change-redirect-uris.feature
  acceptance-tests/features/clients/change-user-attributes.feature
  acceptance-tests/features/clients/client-details.feature
  acceptance-tests/features/register.feature
  acceptance-tests/features/services/joining-public-beta.feature
  acceptance-tests/features/services/update-service-name.feature
  acceptance-tests/features/sign-in.feature
  acceptance-tests/package.json
  acceptance-tests/support/steps/shared-steps.ts
Owners: @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers

Added missing accessible tests and updated package.json
  acceptance-tests/features/register.feature
  acceptance-tests/features/sign-in.feature
  acceptance-tests/package.json
Owners: @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers

updated package-lock.json and package.json
  acceptance-tests/package.json
  package-lock.json
Owners: @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers, @govuk-one-login/sse-sres

SSE-3036 Integrate Fargate with Dynatrace
  .github/workflows/build-frontend-image.yml
  .github/workflows/deploy-branch-secure-pipelines.yml
  .github/workflows/publish.yml
  .github/workflows/release-prod.yml
  .github/workflows/upload-frontend-package.yml
  acceptance-tests/features/account.feature
  acceptance-tests/features/clients/change-post-logout-redirect-uris.feature
  acceptance-tests/features/clients/change-public-key.feature
  acceptance-tests/features/clients/change-redirect-uris.feature
  acceptance-tests/features/clients/change-user-attributes.feature
  acceptance-tests/features/clients/client-details.feature
  acceptance-tests/features/register.feature
  acceptance-tests/features/services/joining-public-beta.feature
  acceptance-tests/features/services/update-service-name.feature
  acceptance-tests/features/sign-in.feature
  acceptance-tests/package.json
  acceptance-tests/support/steps/shared-steps.ts
  express/package.json
  infrastructure/config/network.template.yml
  infrastructure/frontend/Dockerfile-dev
  infrastructure/frontend/frontend.template.yml
  package-lock.json
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

updated cucumber.json as `publishQuiet` option is no longer needed
  acceptance-tests/cucumber.json
Owners: @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers

SSE-2994:Created PII Scanner Script which run as part of Code Quality Checks and also available as Command Line Option
  .github/actions/check-pii-audit/action.yml
  .github/workflows/check-code-quality.yml
  infrastructure/config/pii_scan_ignore.txt
  infrastructure/config/pii_skip.txt
  infrastructure/dev/pii_scan.sh
  package.json
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Delete package-lock.json
  package-lock.json
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers

Added accessible tests for admin tool pages
  acceptance-tests/features/account.feature
  acceptance-tests/features/clients/change-post-logout-redirect-uris.feature
  acceptance-tests/features/clients/change-public-key.feature
  acceptance-tests/features/clients/change-redirect-uris.feature
  acceptance-tests/features/clients/change-user-attributes.feature
  acceptance-tests/features/clients/client-details.feature
  acceptance-tests/features/register.feature
  acceptance-tests/features/services/joining-public-beta.feature
  acceptance-tests/features/services/update-service-name.feature
  acceptance-tests/features/sign-in.feature
  acceptance-tests/package.json
  acceptance-tests/support/steps/shared-steps.ts
Owners: @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers

updated packge-lock.json
  package-lock.json
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers

fixed apply-account-config.sh
  infrastructure/config/apply-account-config.sh
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3080 - Replace all old PaaS links
  acceptance-tests/features/clients/change-public-key.feature
  acceptance-tests/features/clients/client-details.feature
  express/src/views/clients/change-public-key.njk
  express/src/views/clients/client-details.njk
  express/src/views/test/change-public-key-v2.njk
Owners: @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers, @govuk-one-login/sse-content

SSE-3176:Maintenance Fixes for SSE-2994 around Control Filenames which were identified during Sprint Review Demo
  infrastructure/config/pii_scan_skip.txt
  infrastructure/config/pii_skip.txt
  infrastructure/dev/pii_scan.sh
  package.json
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3171: Added temporary debugging.
  .github/workflows/build-api.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3171: Updated debugging.
  .github/workflows/build-api.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3171: Updated
  .github/workflows/build-api.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

uu
  .github/workflows/build-api.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

ss
  .github/workflows/build-api.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

jj
  .github/workflows/build-api.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

s
  .github/workflows/build-api.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

ss
  .github/workflows/build-api.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

asD
  .github/workflows/build-api.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3176: Temporary change.
  .github/workflows/build-api.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE - 3081 Accessible Tests for admin tool
  acceptance-tests/features/account.feature
  acceptance-tests/features/clients/change-post-logout-redirect-uris.feature
  acceptance-tests/features/clients/change-public-key.feature
  acceptance-tests/features/clients/change-redirect-uris.feature
  acceptance-tests/features/clients/change-user-attributes.feature
  acceptance-tests/features/clients/client-details.feature
  acceptance-tests/features/register.feature
  acceptance-tests/features/services/joining-public-beta.feature
  acceptance-tests/features/services/update-service-name.feature
  acceptance-tests/features/sign-in.feature
  acceptance-tests/package.json
  acceptance-tests/support/steps/shared-steps.ts
  package-lock.json
Owners: @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers, @govuk-one-login/sse-sres

Fixed Conflicts
  acceptance-tests/features/clients/client-details.feature
Owners: @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers

Reintroduced Change
  acceptance-tests/features/clients/client-details.feature
Owners: @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers

Reintroduced Main File
  acceptance-tests/features/clients/client-details.feature
Owners: @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers

.github/CODEOWNERS:

# Global
*   @alphagov/di-sse-approvers
*   @govuk-one-login/sse-approvers

# Packages
package*.json           @alphagov/di-sse-sres              @alphagov/di-sse-frontend               @alphagov/di-sse-approvers
package*.json           @govuk-one-login/sse-sres          @govuk-one-login/sse-frontend           @govuk-one-login/sse-approvers

# Infrastructure
/.github/               @alphagov/di-sse-sres              @alphagov/di-sse-approvers
/backend/               @alphagov/di-sse-sres              @alphagov/di-sse-approvers
/infrastructure/        @alphagov/di-sse-sres              @alphagov/di-sse-approvers
/.github/               @govuk-one-login/sse-sres          @govuk-one-login/sse-approvers
/backend/               @govuk-one-login/sse-sres          @govuk-one-login/sse-approvers
/infrastructure/        @govuk-one-login/sse-sres          @govuk-one-login/sse-approvers

# Frontend
/express/src/           @alphagov/di-sse-frontend          @alphagov/di-sse-approvers
/express/tests/         @alphagov/di-sse-frontend          @alphagov/di-sse-approvers
/express/assets/        @alphagov/di-sse-frontend          @alphagov/di-sse-approvers
/express/stubs/         @alphagov/di-sse-frontend          @alphagov/di-sse-approvers
/express/src/           @govuk-one-login/sse-frontend      @govuk-one-login/sse-approvers
/express/tests/         @govuk-one-login/sse-frontend      @govuk-one-login/sse-approvers
/express/assets/        @govuk-one-login/sse-frontend      @govuk-one-login/sse-approvers
/express/stubs/         @govuk-one-login/sse-frontend      @govuk-one-login/sse-approvers

# Acceptance tests
/acceptance-tests/     	@alphagov/di-sse-frontend          @alphagov/di-sse-approvers
/acceptance-tests/     	@govuk-one-login/sse-frontend      @govuk-one-login/sse-approvers

# Content
/express/src/views/		@alphagov/di-sse-content	       @alphagov/di-sse-approvers
/express/src/views/		@govuk-one-login/sse-content	   @govuk-one-login/sse-approvers
