Repository govuk-one-login/onboarding-self-service-experience, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alphagov/di-sse-approvers, @govuk-one-login/sse-approvers, @alphagov/di-sse-sres, @alphagov/di-sse-frontend, @govuk-one-login/sse-sres, @govuk-one-login/sse-frontend, @alphagov/di-sse-content, @govuk-one-login/sse-content

Re-Added Change
  acceptance-tests/features/clients/client-details.feature
Owners: @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers

SSE-3153: Debugging filesystem caches.
  .github/actions/build-backend-component/action.yml
  .github/workflows/build-api.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

Updated
  .github/workflows/build-api.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

Updated
  .github/workflows/build-api.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

Added Accesssible tests for Admin tool
  acceptance-tests/features/account.feature
  acceptance-tests/features/clients/change-post-logout-redirect-uris.feature
  acceptance-tests/features/clients/change-public-key.feature
  acceptance-tests/features/clients/change-redirect-uris.feature
  acceptance-tests/features/clients/change-user-attributes.feature
  acceptance-tests/features/clients/client-details.feature
  acceptance-tests/features/register.feature
  acceptance-tests/features/services/joining-public-beta.feature
  acceptance-tests/features/services/update-service-name.feature
  acceptance-tests/features/sign-in.feature
  acceptance-tests/package.json
  acceptance-tests/support/steps/shared-steps.ts
  package-lock.json
Owners: @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers, @govuk-one-login/sse-sres

SSE-3176:Fixes for SSE-2994 which emrged after Demo
  .github/workflows/build-api.yml
  infrastructure/config/pii_scan_skip.txt
  infrastructure/config/pii_skip.txt
  infrastructure/dev/pii_scan.sh
  package.json
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3176: Removed debugging cruft.
  .github/workflows/build-api.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3114 Add new Crown logo and update gov uk frontend version
  express/package.json
  express/src/views/layouts/base.njk
  package-lock.json
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers, @govuk-one-login/sse-content

SSE-3114 Crown logo update
  express/package.json
  express/src/views/layouts/base.njk
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers, @govuk-one-login/sse-content

SSE-3183:Added Flag for Cognito DR Processes to be disabled by default
  express/.env.example
  express/src/middleware/process-sign-in-form.ts
  infrastructure/ci/configure-deployment-parameters.sh
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend, @govuk-one-login/sse-sres

SSE-3171: Log cleanup script.
  infrastructure/config/log-cleanup/delete-stale-log-groups.py
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3117 Forcing build
  README.md
Owners: @govuk-one-login/sse-approvers

SSE-3117 Forcing build
  acceptance-tests/package.json
Owners: @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers

SSE-3117 Forcing build
  README.md
Owners: @govuk-one-login/sse-approvers

SSE-3117 Forcing build
  package-lock.json
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers

SSE-2965:Created new Fixed OTP Support Module and configured functions to use
  express/.env.example
  express/src/controllers/account.ts
  express/src/controllers/register.ts
  express/src/lib/fixedOTPSupport.ts
  express/src/services/cognito/CognitoClient.ts
  express/src/services/cognito/CognitoInterface.ts
  express/src/services/cognito/StubCognitoClient.ts
  express/src/services/self-service-services-service.ts
  infrastructure/ci/configure-deployment-parameters.sh
  infrastructure/ci/development/deployment-config.template.yml
  infrastructure/dev/deploy.sh
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend, @govuk-one-login/sse-sres

SSE-2826 removal of PasS for publish
  .github/workflows/clean-up-deployments.yml
  .github/workflows/delete-deployment.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-2826 removal of PasS for publish
  .github/workflows/deploy-to-paas.yml
  .github/workflows/publish.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-2826 removal of PasS on publish
  .github/workflows/publish.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

.github/CODEOWNERS:

# Global
*   @alphagov/di-sse-approvers
*   @govuk-one-login/sse-approvers

# Packages
package*.json           @alphagov/di-sse-sres              @alphagov/di-sse-frontend               @alphagov/di-sse-approvers
package*.json           @govuk-one-login/sse-sres          @govuk-one-login/sse-frontend           @govuk-one-login/sse-approvers

# Infrastructure
/.github/               @alphagov/di-sse-sres              @alphagov/di-sse-approvers
/backend/               @alphagov/di-sse-sres              @alphagov/di-sse-approvers
/infrastructure/        @alphagov/di-sse-sres              @alphagov/di-sse-approvers
/.github/               @govuk-one-login/sse-sres          @govuk-one-login/sse-approvers
/backend/               @govuk-one-login/sse-sres          @govuk-one-login/sse-approvers
/infrastructure/        @govuk-one-login/sse-sres          @govuk-one-login/sse-approvers

# Frontend
/express/src/           @alphagov/di-sse-frontend          @alphagov/di-sse-approvers
/express/tests/         @alphagov/di-sse-frontend          @alphagov/di-sse-approvers
/express/assets/        @alphagov/di-sse-frontend          @alphagov/di-sse-approvers
/express/stubs/         @alphagov/di-sse-frontend          @alphagov/di-sse-approvers
/express/src/           @govuk-one-login/sse-frontend      @govuk-one-login/sse-approvers
/express/tests/         @govuk-one-login/sse-frontend      @govuk-one-login/sse-approvers
/express/assets/        @govuk-one-login/sse-frontend      @govuk-one-login/sse-approvers
/express/stubs/         @govuk-one-login/sse-frontend      @govuk-one-login/sse-approvers

# Acceptance tests
/acceptance-tests/     	@alphagov/di-sse-frontend          @alphagov/di-sse-approvers
/acceptance-tests/     	@govuk-one-login/sse-frontend      @govuk-one-login/sse-approvers

# Content
/express/src/views/		@alphagov/di-sse-content	       @alphagov/di-sse-approvers
/express/src/views/		@govuk-one-login/sse-content	   @govuk-one-login/sse-approvers
