Repository govuk-one-login/onboarding-self-service-experience, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alphagov/di-sse-approvers, @govuk-one-login/sse-approvers, @alphagov/di-sse-sres, @alphagov/di-sse-frontend, @govuk-one-login/sse-sres, @govuk-one-login/sse-frontend, @alphagov/di-sse-content, @govuk-one-login/sse-content

.github/CODEOWNERS:

# Global
*   @alphagov/di-sse-approvers
*   @govuk-one-login/sse-approvers

# Packages
package*.json           @alphagov/di-sse-sres              @alphagov/di-sse-frontend               @alphagov/di-sse-approvers
package*.json           @govuk-one-login/sse-sres          @govuk-one-login/sse-frontend           @govuk-one-login/sse-approvers

# Infrastructure
/.github/               @alphagov/di-sse-sres              @alphagov/di-sse-approvers
/backend/               @alphagov/di-sse-sres              @alphagov/di-sse-approvers
/infrastructure/        @alphagov/di-sse-sres              @alphagov/di-sse-approvers
/.github/               @govuk-one-login/sse-sres          @govuk-one-login/sse-approvers
/backend/               @govuk-one-login/sse-sres          @govuk-one-login/sse-approvers
/infrastructure/        @govuk-one-login/sse-sres          @govuk-one-login/sse-approvers

# Frontend
/express/src/           @alphagov/di-sse-frontend          @alphagov/di-sse-approvers
/express/tests/         @alphagov/di-sse-frontend          @alphagov/di-sse-approvers
/express/assets/        @alphagov/di-sse-frontend          @alphagov/di-sse-approvers
/express/stubs/         @alphagov/di-sse-frontend          @alphagov/di-sse-approvers
/express/src/           @govuk-one-login/sse-frontend      @govuk-one-login/sse-approvers
/express/tests/         @govuk-one-login/sse-frontend      @govuk-one-login/sse-approvers
/express/assets/        @govuk-one-login/sse-frontend      @govuk-one-login/sse-approvers
/express/stubs/         @govuk-one-login/sse-frontend      @govuk-one-login/sse-approvers

# Acceptance tests
/acceptance-tests/     	@alphagov/di-sse-frontend          @alphagov/di-sse-approvers
/acceptance-tests/     	@govuk-one-login/sse-frontend      @govuk-one-login/sse-approvers

# Content
/express/src/views/		@alphagov/di-sse-content	       @alphagov/di-sse-approvers
/express/src/views/		@govuk-one-login/sse-content	   @govuk-one-login/sse-approvers

SSE-2779:Need to have a back up policy defined and implemented for the Cognito Database
  backend/api/api.template.yml
  backend/api/src/dynamodb-client.ts
  backend/api/src/handlers/dynamodb/dynamo-db-service.ts
  express/src/controllers/register.ts
  express/src/controllers/sign-in.ts
  express/src/lib/models/service-utils.ts
  express/src/middleware/process-sign-in-form.ts
  express/src/routes/sign-in.ts
  express/src/services/cognito/CognitoClient.ts
  express/src/services/cognito/CognitoInterface.ts
  express/src/services/cognito/StubCognitoClient.ts
  express/src/services/lambda-facade/LambdaFacade.ts
  express/src/services/lambda-facade/LambdaFacadeInterface.ts
  express/src/services/lambda-facade/StubLambdaFacade.ts
  express/src/services/self-service-services-service.ts
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-2779 extra commit
  README.md
Owners: @govuk-one-login/sse-approvers

SSE-2992 VPC IT Health Check fixes
  infrastructure/config/update-default-sg.sh
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3019 fixing tests wont run issue on sonar-cloud.yaml
  .github/workflows/sonar-cloud.yaml
  package-lock.json
  package.json
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3019 fixing tests wont run issue on sonar-cloud.yaml
  .github/workflows/sonar-cloud.yaml
  package-lock.json
  package.json
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3019 fixing tests wont run issue on sonar-cloud.yaml
  .github/workflows/sonar-cloud.yaml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

add domain cert
  infrastructure/config/domain.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-2750 - new user reporting
  .gitignore
  README.md
  express/.env.example
  express/src/controllers/register.ts
  express/src/lib/sheets/SheetsService.ts
  express/src/lib/sheets/index.ts
  express/src/lib/sheets/interface.ts
  express/src/lib/sheets/realSheets/realSheetsService.ts
  express/src/lib/sheets/stubSheets/stubSheetsService.ts
  express/src/services/self-service-services-service.ts
  infrastructure/ci/configure-deployment-parameters.sh
  infrastructure/ci/development/deployment-config.template.yml
  infrastructure/dev/deploy.sh
  infrastructure/frontend/frontend.template.yml
  package-lock.json
  package.json
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend, @govuk-one-login/sse-sres

SSE-3013 add allow rule for zendesk api
  infrastructure/config/network.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-2750 - Separate spreadsheet sending into own function and refactor functionality accordingly
  express/src/controllers/register.ts
  express/src/routes/register.ts
  express/src/routes/services.ts
Owners: @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers

omething
  README.md
Owners: @govuk-one-login/sse-approvers

SSE-2991 add product pages permissions
  infrastructure/ci/development/deployment-config.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-2827 Added log group and association
  backend/cognito/cognito.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-2827 CLI script for adding subscription works ok
  infrastructure/config/add-subscription-filter.sh
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-2827 Updated log group name
  infrastructure/config/add-subscription-filter.sh
  infrastructure/dev/deploy.sh
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

Local changes
  infrastructure/dev/deploy.sh
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-2827 Updated log group name
  backend/cognito/cognito.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-2827 Added parameters
  backend/cognito/cognito.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-2827 Added condition
  backend/cognito/cognito.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-2827 Added subscription filter
  backend/cognito/cognito.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-2827 Applied subscription to other templates
  backend/api/api.template.yml
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-2827 Updated GitHubActions role
  infrastructure/ci/development/deployment-config.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-2827 Applied subscription to other templates
  README.md
Owners: @govuk-one-login/sse-approvers

SSE-2827 Forcing build
  README.md
Owners: @govuk-one-login/sse-approvers

SSE-2827 Cognito stack deploys ok - but need to tidy up
  infrastructure/ci/development/deployment-config.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-2827 Cognito stack deploys ok - rights sorted out
  infrastructure/ci/development/deployment-config.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-2827 Cognito stack completed
  infrastructure/ci/development/deployment-config.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-2827 Configure CSLS to send CloudWatch logs to Splunk
  backend/api/api.template.yml
  backend/cognito/cognito.template.yml
  infrastructure/ci/development/deployment-config.template.yml
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-2999 Updated sector identifier uri
  README.md
Owners: @govuk-one-login/sse-approvers

Added Security Changes
  express/assets/javascripts/cookies.js
  express/src/app.ts
  express/src/config/helmet.ts
Owners: @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers

SSE-2779:Need to have a back up policy defined and implemented for the Cognito Database
  backend/api/api.template.yml
  backend/api/src/dynamodb-client.ts
  backend/api/src/handlers/dynamodb/dynamo-db-service.ts
  backend/cognito/src/handlers/create-password-reset-message.ts
  express/src/controllers/register.ts
  express/src/controllers/sign-in.ts
  express/src/lib/models/service-utils.ts
  express/src/middleware/process-sign-in-form.ts
  express/src/routes/sign-in.ts
  express/src/services/cognito/CognitoClient.ts
  express/src/services/cognito/CognitoInterface.ts
  express/src/services/cognito/StubCognitoClient.ts
  express/src/services/lambda-facade/LambdaFacade.ts
  express/src/services/lambda-facade/LambdaFacadeInterface.ts
  express/src/services/lambda-facade/StubLambdaFacade.ts
  express/src/services/self-service-services-service.ts
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Added back wildcard CORS
  express/src/app.ts
Owners: @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers

Removed Wildcard CORS
  express/src/app.ts
Owners: @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers

Update README.md
  README.md
Owners: @govuk-one-login/sse-approvers

SSE-2999 Updated sector identifier uri
  README.md
Owners: @govuk-one-login/sse-approvers

SSE-2999 Forcing build
  README.md
Owners: @govuk-one-login/sse-approvers

SSE-2827 Updated resource policy
  infrastructure/ci/development/deployment-config.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3021 - Refactor public beta form frontend, content updates
  acceptance-tests/features/services/joining-public-beta.feature
  express/src/controllers/clients.ts
  express/src/views/clients/public-beta-form-submitted.njk
  express/src/views/clients/public-beta.njk
  express/src/views/layouts/client.njk
  express/src/views/macros/form-inputs.njk
Owners: @govuk-one-login/sse-frontend, @govuk-one-login/sse-approvers, @govuk-one-login/sse-content

removed paas dns record
  infrastructure/config/domain.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

SSE-3036 Initial version
  .github/workflows/build-frontend-image.yml
  infrastructure/ci/development/deployment-config.template.yml
  infrastructure/ci/secure-pipelines/deployment-pipelines.template.yml
  infrastructure/frontend/Dockerfile
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers
